* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
}

body .active {
  filter: blur(4px);
}
.whole_page {
  height: 100vh;
  padding: 0em 3em;
  display: flex;
  flex-direction: column;
}

.main_header {
  height: 70px;
  display: flex;
  justify-content: space-around;
  gap: 305px;
  box-shadow: 3px 1px 6px #607d8b;
}
.logo_png {
  /* background-color: green; */
  width: 197px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo_png img {
  height: 45px;
  opacity: 1;
}
.nav_links {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.nav_links a {
  text-decoration: none;
  color: #444;
  font-size: larger;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.nav_item:nth-child(4) {
  padding: 0.7rem 1.8rem;
  border-radius: 3rem;
  background-color: #5ec576;
  color: #222;
  text-align: center;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banking-meets {
  height: 35em;
  width: 86%;
  position: absolute;
  top: 15%;
  left: 7%;
  padding: 35px 35px 0px 35px;

  display: flex;
  /* align-content: center; */
  align-items: flex-start;
}

.banking-meets h1 {
  position: relative;
  top: 13%;
  left: 2%;
  font-size: 58px;
  line-height: 1.35;
  font-family: "Poppins", sans-serif;
  color: #444;
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: linear-gradient(144deg, #b0e38b, #73c7a5);
}

.banking-meets img {
  height: 64%;
  position: relative;
  top: 4%;
  left: 16%;
}
.banking-meets h3 {
  height: 47px;
  position: absolute;
  top: 45%;
  left: 4%;
  font-size: 1.8rem;
  font-weight: 500;
  color: #444;
  font-family: "Poppins", sans-serif;
}
.learn-more {
  height: 32px;
  position: absolute;
  top: 21em;
  left: 4%;
  border: none;
  border-bottom: 2px solid #8fd499;
  color: #8fd499;
  font-size: 17px;
}
.second-page {
  padding: 10rem 3rem;
  border-top: 2px solid #ddd;
  height: 82rem;
}
.feature_heading {
  width: 56%;
  font-size: 30px;
  margin: 0 21rem 5rem 21rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.feature_heading h4 {
  color: #8fd499;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}
.feature_heading h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #444444;
}

.features {
  /* background-color: red; */
  height: 100vh;
  width: 80%;
  margin-left: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 41px;
  row-gap: 41px;
}

.features img {
  height: 330px;
}

.features .featuresDiv {
  height: 171px;
  width: 73%;
  /* background-color: green; */
  /* padding: 60px; */
  margin: 14%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
  color: #444444;
}

.featuresDiv h3 {
  font-size: 26px;
}

.third_page {
  padding: 10rem 3rem;
  border-top: 2px solid #ddd;
}

.operation_modalBox {
  background-color: white;
  width: 69%;
  position: relative;
  left: 16%;
  height: 290px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #444444;
}

.btns_div {
  height: 3em;
  display: flex;
  justify-content: center;
  gap: 2.25rem;
}

.btns {
  height: 45px;
  font-size: 1.1rem;
  border: none;
  background-color: #ffcb03;
  border-radius: 5rem;
  font-weight: 500;
  padding: 1.25rem 2.5rem;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  position: relative;
  bottom: 1em;
}

.btns:nth-child(2) {
  background-color: #5ec576;
}
.btns:nth-child(3) {
  background-color: #ff585f;
}

.modalbox {
  display: grid;
  grid-template-columns: 4.2em 2fr;
  row-gap: 6px;
  column-gap: 30px;
  padding: 2em 6rem;
}
.modal_content_png {
  height: 68px;
}
.modal_content_png img {
  height: 100%;
}
.modal_content_heading h2{
  display: flex;
  align-items: center;
  height: 100%;
}
.modal_content {
  font-size: 19px;
  padding: 20px 20px 20px 0;
  text-align: justify;
}
.modalbox_content_1 {
  visibility: visible;
}
.modalbox_content_2 {
  position: relative;
  bottom: 245px;
  visibility: hidden;
}
.modalbox_content_3 {
  position: relative;
  bottom: 490px;
  visibility: hidden;
}

/* TESTIMONIALS PAGE #4TH-PAGE */
.testimonials_page{
  padding: 10rem 3rem;
  border-top: 2px solid #ddd;
}

.slider{
  /* background-color: red; */
  height: 71vh;
  position: relative;
  max-width: 64vw;
  left: 17%;
  bottom: 49px;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.slides{
  /* background-color: green; */
  height: 100%;
  /* position: relative; */
  width: 60%;
  left: 19%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.testimonial_div{
  /* background-color: #ff585f; */
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 31px;
}
/* .slider ::before {
  content: "\201C";
} */

.testimonial_div h5{
  font-size: 27px;
  font-weight: 500;
}
.testimonial_div p{
  line-height: 1.6;
    font-size: 18px;
}

.testimonial_person{
  display: grid;
  grid-template-columns: 75px 2fr;
  width: 94%;
  position: relative;
  left: 6%;
  column-gap: 12px;
}

.testimonial_person_img_div{
  grid-row: 1/span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial_person_img_div img{
  height: 84%;
  width: 84%;
  border: none;
  border-radius: 50%;
}

.testimonial_person_name_div{
  position: relative;
}
.testimonial_person_name_div h6{
  margin: 0;
  position: absolute;
  top: 55%;
  transform: translate(0, -50%);
  font-size: 18px;
}
.testimonial_person_location{
  position: relative;
}

.testimonial_person_location p{
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

/* MODAL WINDOW*/
.modal {
  display: none;
  height: 27rem;
  max-width: 30rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem 6rem;
  color: #444;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #f3f3f3;
  z-index: 1000;
}

.modal h1 {
  position: relative;
  top: -11%;
  font-size: 36px;
  line-height: 1.5;
}

.modal_close_btn {
  font-size: 2.3rem;
  font-weight: 500;
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  cursor: pointer;
}

.modal_form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px 0;
  padding: 14px;
  align-items: center;
  width: 109%;
  position: relative;
  right: 2em;
}

.modal_form label {
  font-size: 19px;
}

.modal_form input {
  font-size: 30px;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.btn_nextStep {
  position: relative;
  height: 10%;
  width: 40%;
  top: 9%;
  left: 33%;
  font-size: 19px;
  border: none;
  border-radius: 30px;
  background-color: #5ec576;
}

.modal_background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}
