*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f3f3f3
}

.main_header{
    height: 70px;
    display: flex;
    justify-content: space-around;
    gap: 125px;
}
.logo_png{
    width: 197px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo_png img {
    height: 45px;
    opacity: 1;
}
.right-side-header{
    width: 61%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.right-side-header a {
    text-decoration: none;
    color: #444;
    font-size: larger;
    cursor: pointer;
}

.right_side:nth-child(4){
    padding: 0.8rem 2.5rem;
    border-radius: 3rem;
    background-color: #5ec576;
    color: #222;
    text-align: center;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banking-meets{
    height: 37em;
    width: 86%;
    position: absolute;
    left: 7%;
    display: flex;
}

.banking-meets h1{
    position: relative;
    top: 13%;
    left: 2%;
    font-size: 55px;
    line-height: 1.35;
    font-family: "Poppins", sans-serif;
    color: #444;
}

.banking-meets img{
    height: 64%;
    position: relative;
    top: 4%;
    left: 9%;
}
.banking-meets h3 {
    height: 47px;
    position: absolute;
    top: 41%;
    left: 22px;
    font-size: 1.8rem;
    font-weight: 500;
    color: #444;
}